<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">


			<!-- ICONS
 			 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 			 <link rel="stylesheet" href="stylesheets/ionicons.min.css">
 			 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 			 <link rel="stylesheet" href="stylesheets/academicons.css" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="#research">Research</a></li>
	        		<li><a href="#teaching">Teaching</a></li>
		        	<li><a href="#about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thomasbrochhagen@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
